body {
  background: #0052d4;
  background: -webkit-linear-gradient(to right, #6fb1fc, #4364f7, #0052d4);
  background: linear-gradient(to right, #6fb1fc, #4364f7, #0052d4);
  font-family: "Montserrat", sans-serif;
}

.pomodoro {
  text-align: center;
  color: #fff;
  font-size: 30px;
}

.pomodoro__value {
  font-size: 35px;
  font-weight: bolder;
}

input {
  display: block;
  margin: 25px auto;
  padding: 0.5em 0.25em;
  border: none;
  border-radius: 0.2em;
  font-size: 1.5em;
  text-align: center;
  box-shadow: 0 0 1em 0.25em rgba(0, 0, 0, 0.2);
}

button {
  color: #fff;
  cursor: pointer;
  border-radius: 2px;
  background: transparent;
  border: 1px solid #fff;
  font-size: 20px;
  margin: 5px;
  height: 50px;
  width: 100px;
  transition: box-shadow 0.3s ease-in-out;
}

button:hover {
  box-shadow: 0 0 1em 0.25em rgba(0, 0, 0, 0.2);
}
